@CHARSET "ISO-8859-1";

body {
	padding-top: 55px;
	height: 100%;
}

nav {
	background-color: #02025b;
}

.navbar a {
	color: white;
}

.col-8{
    border-style: solid;
    border-width: 1px;
}

.IAWbanner {
	background-color: #c0c0c0;
}

.col-lg-2 {
	background-color: #c0c0c0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar a:hover {
	border-bottom: 3px solid white;
}

.row {
	margin-right: -15px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 94vh;
}

.IAWbanner {
	background-color: gainsboro;

	background-repeat: no-repeat;
}

label {
	color: black;
}

.lista {
	padding-top: 30px;
}

.descripcion {
	color: black;
}

.list-group {
	padding-top: 20px;
}

h3 {
	padding-top: 20px;
}

#archivo {
	margin-left: 220px;
	padding-left: 70px;
	padding-top: 0.01px;
}

#delete {
	float: left;
	height: 10px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.containerAdmin {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

#maxp {
	width: 45px;
}

#teams {
	width: 45px;
}

form {
	align: right;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span {
	cursor: pointer;
}

th {
	background-color: #02015A;
	color: white;
}

li {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.lista_equipos {
	padding-top: 40px;
}

.relleno {
	height: 7vh;
}

#toggleButton {
	margin-right: 20px;
}

.torneo_slogan img {
	width: 100px;
	height: 100px;
	float: right;
	margin-top: -75px;
}